$tablets: 678px;
$phones: 480px;

@mixin tablets {
    @media screen and (max-width: $tablets){
        @content;
    }
}

@mixin phones {
    @media screen and (max-width: $phones){
        @content;
    }
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}