.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
$container-width: 940px;
$base-font-size: 18px;
@function rem($px) {
    @return $px / $base-font-size + 0rem;
}