.features {
    display: flex;
}
.features__item {
    display: flex;
    margin-right: 46px;
    &:last-child{
        margin-right: 0;
    }
}
.feature__icon {
    width: 45px;
    margin-right: 7px;
}
.feature__text {
    font-style: 16px;
    max-width: 85px;
}
$container-width: 940px;
$base-font-size: 18px;
@function rem($px) {
    @return $px / $base-font-size + 0rem;
}