.fixed__menu {
  position: fixed;
  top: 50%;
  right: 3%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 1000000;
}

.fixed-menu__item {
  margin-bottom: 1.1rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  width: 0.9rem;
  height: 0.83rem;
  border-radius: 50%;
  border: 0.05rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  background: #fff;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}