
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__item {
    margin-right: 0.83rem;
    &:last-child {
        margin-right: 0;
    }
}
.menu__link {
    text-decoration: none;
    &:hover {
        color: #365A49;
    }
}
.phone__number {
    font-size: 1.3rem;
    text-decoration: none;
}
.phone__number {
    display: flex;
    align-items: center;
}
.phone-number__icon {
    width: 0.9rem;
    height: 0.9rem;
}