

@import url(./media.css);


$tablets: 768px;
$phones: 480px;

@mixin tablets {
    @media screen and (max-width: $tablets){
        @content;
    }
}

@mixin phones {
    @media screen and (max-width: $phones){
        @content;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu {
    @include tablets {
        display: none;
    }
}
 
.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__item {
    margin-right: 0.83rem;
    &:last-child {
        margin-right: 0;
    }
}
.menu__link {
    text-decoration: none;
    &:hover {
        color: #365A49;
    }
}
.phone__number {
    font-size: 1.3rem;
    text-decoration: none;
    
    display: flex;
    align-items: center;
}
.header__phone-number {
    @include tablets {
        display: none;
    }
}
.phone-number__icon {
    width: 0.9rem;
    height: 0.9rem;
}