@import url(media.css);
@import url(./media.css);
.hero {
  height: 100vh;
  color: #fff;
  background: url(./../png/list.png) bottom right no-repeat;
  background-color: #61C4D9;
}

.hero__container {
  height: 100vh;
  position: relative;
}
.hero__container::before {
  content: url("./../png/listleft.png");
  position: absolute;
  bottom: -2.7rem;
  left: 10%;
}
@media screen and (max-width: 768px) {
  .hero__container::before {
    display: none;
  }
}
.hero__container::after {
  content: url("./../png/comp.png");
  position: absolute;
  bottom: -2.7rem;
  right: 3%;
}
@media screen and (max-width: 768px) {
  .hero__container::after {
    display: none;
  }
}

.container {
  padding-top: 1.4rem;
  padding-bottom: 2.22rem;
}

.container:nth-child(1) {
  background: url(./../png/chocolate.png) center right/50% auto no-repeat;
}
@media screen and (max-width: 768px) {
  .container:nth-child(1) {
    background: none;
  }
}

.maincontent {
  height: 100%;
  width: 100%;
}

.herro__title-section {
  width: 46%;
}
@media screen and (max-width: 768px) {
  .herro__title-section {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    flex: 1;
  }
  .herro__title-section:before {
    content: url("./../png/mobchoc.png");
    -webkit-box-flex: 0.2;
        -ms-flex: 0.2;
            flex: 0.2;
  }
}