.section__message {
  background: none;
  position: relative;
}
.section__message::after {
  content: url("./../png/baris.png");
  position: absolute;
  bottom: -100px;
  left: 0;
  z-index: 2;
}
.section__message::before {
  content: url("./../png/listsecondsec.png");
  position: absolute;
  bottom: -200px;
  left: 0;
  z-index: 2;
}

.reviews__display {
  padding: 50px 45px 45px;
  margin-bottom: 20px;
  background: url("./../png/tree.png") right center no-repeat;
  background-color: #F8FAF9;
  position: relative;
  overflow: hidden;
}
.reviews__display::before {
  content: "";
  display: block;
  width: 90px;
  height: 90px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__avatar {
  height: 260px;
  width: 254px;
  margin-right: 40px;
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.reviews__title {
  font-weight: bold;
  font-size: 25px;
}

.rewiews__aouther {
  font-weight: bold;
}

.reviews__swichers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rewiews__swichers__item {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.rewiews__swichers__item:last-child {
  margin-right: 0;
}

.rewiews__swichers__item--active {
  border: 4px solid #365A49;
}