.section__message {
  background: none;
  position: relative;
}
.section__message::after {
  content: url("./../png/baris.png");
  position: absolute;
  bottom: -5.6rem;
  left: 0;
  z-index: 2;
}
.section__message::before {
  content: url("./../png/listsecondsec.png");
  position: absolute;
  bottom: -11.1;
  left: 0;
  z-index: 2;
}

.reviews__display {
  padding: 2.78rem 2.5rem 2.5rem;
  margin-bottom: 1.1rem;
  background: url("./../png/tree.png") right center no-repeat;
  background-color: #F8FAF9;
  position: relative;
  overflow: hidden;
}
.reviews__display::before {
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (max-width: 768px) {
  .reviews__display::before {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .reviews__display {
    padding: 0;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background: url("./../png/tree.png") right top no-repeat;
    background-color: #F8FAF9;
  }
}
@media screen and (max-width: 480px) {
  .reviews__display {
    padding: 0;
  }
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .reviews__display-inner {
    padding: 1rem;
  }
}

.reviews__avatar {
  height: 14.4rem;
  width: 14.1rem;
  margin-right: 2.22rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    margin-right: 0;
  }
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.reviews__title {
  font-weight: bold;
  font-size: 1.4rem;
}

.rewiews__aouther {
  font-weight: bold;
}

.reviews__swichers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rewiews__swichers__item {
  width: 4.1rem;
  height: 4.1rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1.1rem;
}

.rewiews__swichers__item:last-child {
  margin-right: 0;
}

.rewiews__swichers__item--active {
  border: 0.22rem solid #365A49;
}

.reviews__display-inner {
  display: none;
}
.reviews__display-inner--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.active {
  border: green 2px solid;
}