.section {
  height: 100vh;
  min-height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1.4rem;
  padding-bottom: 2, 22rem;
  position: relative;
  background: url("./../png/listsecondsec.png") left 0 center no-repeat;
}
.section::before {
  content: url("./../png/malin.png");
  position: absolute;
  bottom: -100px;
  left: 0;
}

.containers {
  width: 940px;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.section__title {
  font-size: 2.6rem;
  font-weight: bold;
  margin-bottom: 3.3rem;
  text-align: center;
  text-transform: uppercase;
}

.headline {
  margin-bottom: 2, 22rem;
}

.headline__title {
  margin-bottom: 1.4rem;
}

.headline__subtitle {
  padding: 0 15%;
  text-align: center;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefit__item {
  text-align: center;
}

.benefits__image--wrapper {
  display: inline-block;
  width: 6.9rem;
  height: 6.9rem;
  position: relative;
  border-radius: 50%;
  background: #F2F5F4;
}

.benefit {
  text-align: center;
  position: relative;
}

.benefit__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
}
.benefit__item:before {
  content: url("./../png/shape.png");
  position: absolute;
  top: 2.8rem;
  right: 0px;
  -webkit-transform: translate(50%);
          transform: translate(50%);
}

.benefit__item:last-child {
  padding-right: 0;
}
.benefit__item:last-child::before {
  display: none;
}

.benefit__item:first-child {
  padding-left: 0;
}

.benefit__icon {
  width: 4.2rem;
  height: 3.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__title {
  font-weight: bold;
  font-size: 1.4rem;
}