$container-width: 47rem;
$tablets: 768px;
$phones: 480px;

@mixin tablets {
    @media screen and (max-width: $tablets){
        @content;
    }
}

@mixin phones {
    @media screen and (max-width: $phones){
        @content;
    }
}




.section {
    height: 100vh;
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1.4rem;
    padding-bottom: 2.22rem;
    position: relative;
    background: url("./../png/listsecondsec.png") left 0 center no-repeat;
    @include phones {
        background: none;
      }
    &::before{
        content: url("./../png/malin.png");
        position: absolute;
        bottom: -5rem;
        left: 0;
        @include phones {
          display: none;
        }
    }

}
.containers {
    max-width: $container-width;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.section__title {
    font-size: 2.6rem;
    font-weight: bold;
    margin-bottom: 3.3rem;
    text-align: center;
    text-transform: uppercase;

}
.headline {
    margin-bottom: 2,22rem;
}
.headline__title {
    margin-bottom: 1.4rem;
}
.headline__subtitle {
    padding: 0 15%    ;
    text-align: center;
    font-size: 0.9rem;
    @include phones {
        padding: 0 2%;
    }
}

.benefits {
    display: flex;
    padding: 0 2%;
}
.benefit__item {
    text-align: center;
}
.benefits__image--wrapper {
    display: inline-block;
    width: 6.9rem;
    height: 6.9rem;
    position: relative;
    border-radius: 50%;
    background: #F2F5F4;
}
.benefits {
    text-align: center;
    position: relative;
    @include phones {
        display: flex;
        flex-direction: column;
    }

}
.benefit__item {
    flex: 1;
    padding: 0 3%;
    &:before {
        content: url("./../png/shape.png");
        position: absolute;
        top: 2.8rem;
        right: 0px;
        transform: translate(50%);
        @include phones {
            display: none;
        }
    }
    @include phones {
        display: flex;
        width: 100%;
        text-align: start;
        padding: 0;

    }
    
}
.benefit__item:last-child {
    padding-right: 0;
    &::before{
        display: none;
    }
}
.benefit__item:first-child {
    padding-left: 0;
}
.benefit__icon {
    width: 4.2rem;
    height: 3.8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.benefit__title {
    font-weight: bold;
    font-size: 1.4rem;
}
.benefit__desc {
    font-size: 0.8rem;
}